@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
#root {
    width: 80vh; 
    height: 50vh; 
  }
body {
  background: linear-gradient(90deg, #FF0080, #7928CA);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}